:root {
    --accent-color: #f06d22;
    --lighter-accent-color: #d1bbffae;
    --bg-color: #0b1215;
    --bg-color-2: #070a0d;
    --header-color: #181D23;
    --primary-font-color: #d6d6d6;
    --secondary-font-color: #B0B0B0;
    --tertiary-font-color: #8A8F99;
    --gradient-color: linear-gradient(to right, #ad94e8, #9b81d7 , #916ade, #7f51db);
    --button-color: #202225;
    --button-hover-color:#303335;
    --button-font-color: #D1D3D5;
    --repeating-grid-color: #cfcdcd0b;
    --card-color: #21212180;
    

    /* shadow color */
    --sd-highlight: #00000080;
    --sd-darken: #8b87871d;

    scroll-behavior: smooth;
}

.about {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 100vh;
    align-items: center;

}

.about .about-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile-picture {

    justify-self: center;
    display: flex;
    justify-content: center;

    align-items: center;
    filter: contrast(1.2);
    position: relative;
    width: 400px;
    height: 400px;
    overflow: hidden;
    background: var(--bg-color);
    border-radius: 50%;

}

.profile-picture::before {

    content: ' ';
    position: absolute;
    background: linear-gradient(315deg, #ff7606, #d4b7a7, #3c24a7);
    inset: -10px 140px;
    transition: inset 500ms ease;
    z-index: 0;
    animation: animate-gradient 20s linear infinite;
}

/* line rotation lmao*/
@keyframes animate-gradient {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.profile-picture:hover::before {
    inset: -20px 0px;
}

.profile-picture::after {
    content: '';
    position: absolute;
    inset: 8px;
    z-index: 1;
    background: var(--bg-color);
    border-radius: 50%;
}
.profile-picture .content {
    inset: 30px;
    background: var(--card-color); /*lighter color than background*/
    border: 6px solid var(--secondary-font-color);
    border-radius: 50%;
    position: absolute;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1em;
    z-index: 4;
}

.content img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
    transition: opacity 0.5 ease;
    z-index: 3;
}

.profile-picture:hover .content img {
    opacity: 0;
}

.content h3 {
    position: relative;
    color: var(--primary-font-color);
    font-size: 1.5em;
    text-align: center;
    font-weight: 500;
    letter-spacing: 0.05em;
    text-transform: uppercase;
}

.content h3 span {
    font-size: 0.8em;
    font-weight: 300;
}

.content a {
    position: relative;
    text-decoration: none;
    padding: 0.75em 1.25em;
    color: var(--button-font-color);
    background-color: var(--accent-color);
    border-radius: 2in;
    transition: background-color 0.5s ease-in-out, color 0.5s ease-in-out;
    cursor: pointer;
    opacity: 0; /*hide it initially*/
    z-index: 4;
}

.profile-picture:hover .content a {
    opacity: 1;
}

.content a:hover {
    background-color: var(--accent-color);
    color: var(--button-font-color);
}

.about-content p {
    text-align: justify;
    margin-top: 0.5em;
    color: var(--secondary-font-color);

}

.about-container strong {
    color: var(--primary-font-color);
}

.socials-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center; 
    gap: 2em;
    padding: 2em;
    margin-top: 1em;
}

.socials-container a {
    background-color: var(--button-color);
    padding: 1em;
    border-radius: 50%;
    height: 3.2em;
    width: 3.2em;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    box-shadow: 5px 5px 10px var(--accent-color), -8px 5px 10px var(--card-color);
}

.socials-container a svg {
    fill: var(--primary-font-color);
    height: 1.6em;
}

.socials-container a::before {
    content: attr(data-social);
    position: absolute;
    background-color: var(--_social-color);
    color: #ffffff;
    text-decoration: none;
    padding: 0.5em 1em;
    border-radius: 1in;
    box-shadow: 0 5px 10px #0000000d;
    transform: translateY(-1.5em) rotate(25deg);
    opacity: 0;
    transition: 0.2s cubic-bezier(0.41,-0.06, 0.41, 1.74);
}

.socials-container a::after {
    content: '';
    position: absolute;
    height: 0;
    width: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-top: 10px solid var(--_social-color);
    transform: translateY(0) rotate(25deg);
    opacity: 0;
    transition: 0.2s cubic-bezier(0.41,-0.06, 0.41, 1.74);
}

.socials-container a:hover {
    background-color: var(--_social-color);
}

.socials-container a:hover::before {
    transform: translateY(-3.3em) rotate(0deg);
    opacity: 1;
}

.socials-container a:hover::after {
    transform: translateY(-2em) rotate(0deg);
    opacity: 1;
}

.socials-container a:svg {
    fill: white;
}
