header {
    display: flex;
    position: fixed;
    padding: 2vw;
    width: 100vw;
    height: 7vh;
    background-color: var(--header-color);
    justify-content: space-between;
    align-items: center;
    z-index: 10;
}

.logo-holder {
    display: flex;
    font-size: clamp(1rem, 2vw, 2.5rem); /* Dynamic font scaling */
    gap: 1vw; /* Dynamic gap */
    justify-content: flex-start;
    align-items: center;
}

.img {
    width: 5vw; /* Makes the image size responsive */
    height: auto;
}

.logo-title {
    background: var(--gradient-color);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

nav > #menu {
    font-size: clamp(1rem, 2.5vw, 2.5rem); /* Font size adjusts with viewport size */
    display: flex;
    gap: 2vw; /* Responsive gap */
    align-items: flex-start;
    background-image: linear-gradient(to right,#ff8800, #1547d1, #1052e0, #e28306);
    background-position: left;
    animation: font-animation 8s infinite forwards alternate;
    background-size: 300%;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    list-style-type: none;
}

li > a {
    text-decoration: none;
    cursor: pointer;
}

li > a > span {
    color: var(--secondary-font-color);
}

.scroll-link {
    font-size: clamp(0.8rem, 1.2vw, 1.5rem); /* Dynamic font scaling */
    background: linear-gradient(to right, #f15221, #e07571, #400ea3) no-repeat right bottom;
    background-size: 0 4px;
    transition: background-size 0.3s;
}

.scroll-link:hover {
    background-position: left bottom;
    background-size: 100% 2px;
}

.active-link {
    background-size: 100% 2px;
    color: var(--accent-color);
    font-size: clamp(0.8rem, 1.2vw, 1.5rem); /* Dynamic font scaling */
}

/* Media Queries for smaller screens */
@media (max-width: 768px) {
    header {
        padding: 10px;
        height: 10vh;
    }

    .logo-holder {
        font-size: clamp(1rem, 4vw, 2.5rem); /* Adjust font size on smaller screens */
        gap: 2vw;
    }

    nav > #menu {
        font-size: clamp(1rem, 4vw, 2.5rem); /* Adjust font size on smaller screens */
        gap: 3vw;
    }

    .scroll-link, .active-link {
        font-size: clamp(0.8rem, 3vw, 1.5rem); /* Dynamic font scaling */
    }
}
