:root {
    --accent-color: #f06d22;
    --lighter-accent-color: #016bf5ae;
    --bg-color: #0b1215;
    --bg-color-2: #070a0d;
    --header-color: #181D23;
    --primary-font-color: #d6d6d6;
    --secondary-font-color: #B0B0B0;
    --tertiary-font-color: #8A8F99;
    --gradient-color: linear-gradient(to right, #ad94e8, #9b81d7 , #916ade, #7f51db);
    --button-color: #202225;
    --button-hover-color:#303335;
    --button-font-color: #D1D3D5;
    --repeating-grid-color: #cfcdcd0b;
    --card-color: #21212180;
    

    /* shadow color */
    --sd-highlight: #00000080;
    --sd-darken: #8b87871d;

    scroll-behavior: smooth;
}
#project {
    display: flex; /* Ensure flex properties are applied */
    flex-direction: column; /* Stack children vertically */
    align-items: center; /* Center items horizontally */
    justify-content: flex-start; /* Align items at the start */
    gap: 1em; /* Space between items */
    --_card-gradient-color: linear-gradient(to right bottom, #ff9901, rgb(34, 45, 68), #1a2642, #0314ff);
    min-height: 200svh;
    padding-block: 1em;
}

#project > .section-title {
    margin-block: 1em;
}

.project-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 1em;
    justify-content: space-evenly;
    margin: 2em;
    max-width: 90svw;
}

.project-card {
    position: relative;
    background: var(--card-color);
    border-radius: 1em;
    border: 2px solid var(--tertiary-font-color);
    box-shadow: 0px 0px 0px var(--sd-darken);
    padding: 1em;
    transition: all 0.3s ease-in-out;
}

.project-card:hover {
    background: var(--_card-gradient-color);
    transform: translate(var(--x), var(--y));
    box-shadow: calc(var(--x) * -1) calc(var(--y) * -1) 1px var(--lighter-accent-color);
}

.image-wrapper {
    height: 300px; /* Set a fixed height for consistency */
}

.project-image {
    width: 100%;
    height: 90%;
    object-fit: contain;
    border-radius: .5em;
    background: var(--_card-gradient-color);
}

.project-name{
    color: var(--_title-color);
    margin-left: .5em;
}

.project-details {
    margin-block: 1em
}

.project-description {
    color: var(--secondary-font-color);
    /* font-size: clamp(0.4em, 0.7em + 0.3vw, 1em); */
    padding: 0 1em;
    max-width: max-content;
}

.bottom {
    display: flex;
    justify-content: space-between;
}

.tech-stack {
    display: flex;
    gap: 1em;
    margin: 1em;
}

.tech-stack svg,
.tech-stack g,
.tech-stack path {
    width: 1.5rem;
    fill: var(--primary-font-color);
}

.show-more-button {
    max-width: max-content;
    padding: 0.5em 1em;
    margin-block: 1em;
    background-color: var(--accent-color);
    color: var(--primary-font-color);
    text-decoration: none;
    border-radius: 4px;
    transition: background-color 0.3s, transform 0.6s;
}

.show-more-button:hover {
    background-color: var(--lighter-accent-color);
}