:root {
    --accent-color: #f06d22;
    --lighter-accent-color: #0f1052;
    --bg-color: #0b1215;
    --bg-color-2: #070a0d;
    --header-color: #181D23;
    --primary-font-color: #d6d6d6;
    --secondary-font-color: #B0B0B0;
    --tertiary-font-color: #8A8F99;
    --gradient-color: linear-gradient(to right, #dd5e24, #402deb , #916ade, #c2681f);
    --button-color: #202225;
    --button-hover-color:#303335;
    --button-font-color: #D1D3D5;
    --repeating-grid-color: #cfcdcd0b;
    --card-color: #21212180;
    

    /* shadow color */
    --sd-highlight: #00000080;
    --sd-darken: #8b87871d;

    scroll-behavior: smooth;
}

#skills {
    flex-direction: column;
    justify-content: flex-start;
    min-height: 100svh;
    padding-block: 1em;
}

#skills .section-title {
    margin-block: 1em;
}

.skills {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items:center;
    width: 100%;
    margin-top: 2em;
}

.skills-content {
    background-color: var(--card-color);
    min-width: 550px;
    border-radius: 10px;
    flex: 1 1 calc(50% - 1em); /* Take up half the width minus gap */
    box-sizing: border-box; /* Include padding and border in width calculation */
    --webkit-backdrop-filter: blur(10px);
    padding: 1em;
}

.skills-content .skills-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.skills-content .skills-header svg{
    width: 48px; height: auto;
    fill: var(--accent-color);
}

.skills-title > svg {
    fill: var(--secondary-font-color);
    width: 24px;  height: auto;
}

.skills-area-title {
    font-size: 1.75em;
    /* font-size: clamp(1.25em, 1.5em + 0.2vmax, 1.75em); */
    margin-block: .5em;
    color: var(--lighter-accent-color);
}

.skills-subtitle {
    font-size: 1em;
    /* font-size: clamp(0.75em, 0.75em + 0.2vmax, 1.25em); */
    color: var(--secondary-font-color);
}

.skills-data {
    margin-block: 1.5em;
    color: var(--secondary-font-color);
    animation: skillCardReveal 1s ease-in-out both;
    animation-timeline: view();
    animation-range-start: cover;
    animation-range-end: 10vh;
}

.skills-title {
    display: flex;
    align-items: center;
    gap: 0.5em;
    margin-bottom: 0.5em;
}

.skills-title .skills-number {
    margin-left: auto;
}

.skills-title .skills-name {
    font-weight: 400;
}


.skills-percentage {
    height: 5px;
    border-radius: 0.25rem;
    background: linear-gradient();
}

.skills-bar {
    background-color: var(--lighter-accent-color);
}

.skills-percentage {
    display: block;
    background: var(--accent-color);
    width: 0;


    /* animation */
    animation: percentageReveal 1s ease-in-out both;
    animation-timeline: view();
    animation-range-start: cover;
    animation-range-end: 15vh;
    animation-fill-mode: forwards; /* Ensure it retains the final state */
}

@keyframes skillCardReveal {
    from {
        opacity: 0;
        /* goes left */
        transform: translate(-50%, 100px);
    }

    to {
        opacity: 1;
        transform: translate(0,0);
    }

}


@keyframes percentageReveal {
    from {
        /*initial value of the css properties*/
        width: 0;
    }

    to {
        /*end value of the progress bar = custom css variable value "--_percent"*/
        width: var(--_percent);
    }
}

/*styling for each the skills icon, color and size*/
.skills-title {
    --_color: var(--custom_color); /*getting another variable to store the custom color value from container style*/

    /*nesting - all the element is lolcated within the style block of the container*/
    /*all the child could access their parent container style*/
    & svg {
        fill: var(--secondary-font-color);
        width: 24px;  height: auto;
        transition: 0.5s ease;
    }

    &:hover svg {
        fill: var(--accent-color);
    }

    & .skills-name {
        font-weight: 400; /*bold out the skills name*/
        transition: 0.5s ease;
    }

    &:hover .skills-name {
        color: var(--_color);
    }
}